body{
    background-color: #000;
}
body {
    background-color: #260500;
}

#navdiv {
    position: fixed;
    z-index: 2;

    width: 100%;
    text-align: center;
    background-color: #460000;
    justify-content: center;
}
#navblock {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.navbar-brand {
    width: fit-content;
    float: left;
}
#a-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 233, 255);
    margin-left: 1vh;
}
.navbar-text {
    width: fit-content;
    float: right;
}
#nav-itens {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.navbar-text a {
    color: rgb(255, 228, 228) !important;
    font-weight: 500;
}
#nav-btn {
    border-color: rgb(255, 226, 226);
    border-style: solid;
    border-width: 1px;
    color: #ffe2e2;

    font-family: 'Gabarito', sans-serif;
    font-weight: 500;

    box-shadow: -1px -1px 5px 1px #ff6f0b,
                1px 1px 5px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;

    text-shadow: 0px 0px 5px #ff6f0b,
                0px 0px 5px #ff3b9d;
}
#nav-btn:hover {
    color: rgb(189, 0, 0);
    background-color: rgb(255, 232, 232);
    font-weight: 600;

    font-family: 'Gabarito', sans-serif;
    font-weight: 600;

    box-shadow: -1px -1px 15px 1px #ff6f0b,
                1px 1px 15px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}
#nav-btn:active {
    background-color: rgba(90, 0, 0, 0.185);;
    color: rgb(107, 0, 0);
}

#first-background {
    position: relative;
    z-index: 1;
    background-color: #260500;
}

#home {
    padding-bottom: 10vh;
}
#home-page {
    margin-top: 10%;
    margin-bottom: 1.5%;
    text-align: center;
}
#page-intro {
    width: fit-content;
    display: inline-block;
    align-content: center;
}
#intro-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-top: 9%;
}
#intro-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 5%;
}
#div-intro-desc {
    width: 100%;
    display: inline-block;
}
#intro-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
    color: #ffeeee;
    margin-top: 2%;
    text-shadow: 1px 1px 1px #3b0000;
}
#div-desc {
    background-color: #ffbab228 !important;
    width: fit-content;
    height: fit-content;
}

#intro-avatar {
    margin-top: 10%;
    width: 100%;
    margin-bottom: 7%;
}
#light-bar {
    width: 0.9vh;
    height: 30vh;
    background-color: rgb(252, 217, 217);
    margin-left: 15%;

    display: inline-block;
    position: relative;

    border-radius: 15px;

    outline-color: rgba(255, 0, 0, 0.479);
    outline-width: 0.3vh;
    outline-style: solid;

    -webkit-box-shadow: 0 0 50px red;
    -moz-box-shadow: 0 0 50px red;
    box-shadow: 0px 0px 10px 6px rgb(255, 0, 0), 0px 0px 60px 7px red, 0px 0px 300px 40px rgb(255, 1, 1);
}
#avatar-box {
    width: fit-content;
    height: 30vh;
    vertical-align: top;
    margin-right: 0;
    margin-left: 0;
    align-content: end;

    float: right;
    margin-right: 18%;
    position: relative;

}
#photo-intro {
    opacity: 65%;
    position: relative;
    height: 100%;
    width: 70%;
    object-fit: cover;
    opacity: 1;
    padding: 0;

    
    border-radius: 10px;
    box-shadow: -4px -4px 20px 1px #ff6f0b,
                4px 4px 20px 1px #ff3b9d;
}
#avatar-desc {
    display: inline-block;
    position: relative;
    width: 35%;
    padding-top: 1vh;

    vertical-align: top;
    margin-left: 8vh;
}
#avatar-text {
    text-align: left;
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 6.5vh !important;
    color: white;
}
#avatar-subtext {
    text-align: left;
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 3vh !important;
}
#avatar-bio {
    font-size: 2vh;
    text-align: left;
    font-family: 'Gabarito', sans-serif;
    font-weight: 300;
}
#intro-paragraph-title {
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    color: #b61e10;
    text-shadow: 1.3px 1.3px 1px #410000;
}
#intro-paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6d1a1a;
    font-size: large;
}

.subtitle-container {
    width: 21vh;
    height: 6vh;

    display: block;
    position: relative;
    padding-top: 3vh;
    margin: 0 auto;
    z-index: 1;

}
.subtitle-box {
    width: 20vh;
    height: 6vh;
    background: linear-gradient(to right bottom, #ff3b9d, #ff6f0b);
    border-radius: 5px;

    line-height: 6vh;
    text-align: center;
    position: relative;
    z-index: 1;

    box-shadow: -1px -1px 10px 1px #ff3b9d,
                1px 1px 10px 1px #ff6f0b,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}

.subtitle-text {
    font-family: 'Gabarito', sans-serif;
    font-size: 2.7vh;
    font-weight: 600;
    position: relative;
    z-index: 1;

    display: inline-block;
    vertical-align: middle;
}
#skill-subtitle-container {
    float: left;
    margin-left: 15%;
}
#skill-subtitle-text {
    color: #ffffff;
}

#skills {
    background-color: #260500;
    padding-top: 15vh;
    position: relative;
    z-index: 0;
    padding-bottom: 10vh;
    margin-top: 2%;
}

#skill-box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.skill-column {
    width: 30%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 3.2vh;
    transition: transform .2s;

    background: linear-gradient(to bottom left, #130000, #0e0000, #330000, #0e0000, #130000);
    border-color: rgb(59, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;

}
.skill-column:hover {
    transform: scale(1.05);

    border-color: rgb(255, 214, 214);
    box-shadow: -1px -1px 20px 1px #ff6f0b,
                1px 1px 20px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}
.skill-column-icon {
    display: inline-flexbox;
    margin: 0 auto;
    text-align: center;
    
    padding-top: 3.5vh;
    margin-bottom: 10%;
    margin-top: 8%;
    
    border-radius: 90px;

    background-color: rgb(255, 228, 228);

    width: 14vh;
    height: 14vh;
}
#skill-column-backend {
    background-image: url("../img/icons/backend1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    resize: both;
}
#skill-column-frontend {
    background-image: url("../img/icons/frontend1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
#skill-column-data {
    background-image: url("../img/icons/dataanalysis1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.skill-title {
    text-align: center;
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    color: #ffb8b8;
}
.skill-description {
    text-align: center;
    min-height: 26%;
    font-family: 'Gabarito', sans-serif;
    color: white;
    font-weight: 400;
}
.skill-composition,h4{
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    color: #ffb8b8;
    min-height: 20%;
}
.skill-composition,ul{
    color: white;
    font-weight: 400;
}
.skill-tools,ul{
    font-family: 'Gabarito', sans-serif;
    color: white;
    font-weight: 400;
}

#second-background {
    position: relative;
    z-index: 0;
    background-color: #260500;
}

#project-subtitle-text {
    color: #ffffff;
}
#project-subtitle-container {
    float: right;
    margin-right: 16%;
}
#projects {
    position: relative;
    z-index: -2;
    padding-top: 18vh;
    padding-bottom: 17vh;
    margin-top: 2%;
}
#project-container {
    display: block;
    margin: 0 auto;
    height: 65vh;
    text-align: center;
    position: relative;
    z-index: 0;
}
.project-line {
    width: 100%;
    height: 45%;
    margin-top: 1vh;
    position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: middle;
}
.project-box {
    width: 30%;
    height: 90%;
    border-color: rgb(61, 34, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

#logo-1 {
    background-image: url("../img/logo/projects/Google Ads/logo.png");
}
#logo-2 {
    background-image: url("../img/logo/projects/Episode Counter/logo.png");
    background-size: cover;
    background-position: center;
}
#logo-3 {
    background-image: url("../img/logo/projects/Rede Sucata/logo.png");
    background-size: 100%;
    background-position: center;
}
#logo-4 {
    background-image: url("../img/logo/projects/PotterManiacos Games/logo.png");
    background-size: cover;
    background-position: center;
}
#logo-5 {
    background-image: url("../img/logo/projects/Monsmalters/logo.png");
    background-size: cover;
    background-position: center;
}
#logo-6 {
    background-image: url("../img/logo/projects/Kauan's Adventure/logo.png");
    background-size: cover;
    background-position: center;
}
#btnProjectDiv{
    margin-top: 4%;
}
#project-btn {
    border-color: rgb(255, 224, 224);
    border-style: solid;
    border-width: 2px;
    color: rgb(252, 233, 233);
    font-family: 'Gabarito', sans-serif;
    text-align: left;
    font-weight: 400;
    text-align: right;
}
.project-btn-icon {
    display: inline;
    height: 20px;
}
#project-btn:hover {
    color: rgb(29, 1, 1);
    background-color: rgb(255, 230, 230);
}
#project-btn:active {
    background-color: rgba(36, 1, 1, 0.185);;
    color: rgba(201, 144, 144, 0.562);
    border-color: rgba(201, 144, 144, 0.548);
}
.project-image {
    width: 100%;
    height: 100%;
    top: -100%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 2;
    opacity: 2;
}
.project-image:hover {
    animation-name: zoom-proj;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 3s ease-out;
}
.project-details {
    padding: 2.5vh;
    font-family: 'Gabarito', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 1;
    background-color: #2c0000;

    border-color: rgb(255, 162, 162);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;

    box-shadow: inset -1px -1px 5px 1px #ff6f0b, inset 1px 1px 5px 1px #ff3b9d;
}
.project-details:hover {
    z-index: 3;
}
.project-title{
    font-weight: 600;
    color: #c93222;
    height: 10%;
    font-size: 2vh;
}
.project-info {
    margin-top: 4%;
    font-weight: 400;
    height: 62%;
}
.project-details-btn {
    background-color: rgb(255, 196, 196);
    color: rgb(187, 0, 0);
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    height: 25%;
}
.project-details-btn:hover {
    color: rgb(252, 209, 209);
    background-color: rgb(146, 0, 0);
}
.project-details-btn:active {
    background-color: rgb(97, 54, 54);;
    color: rgb(107, 0, 0);
}

#courses-subtitle-text {
    color: #ffffff;
}
#courses-subtitle-container{
    float: left;
    margin-left: 15%;
}
#courses {
    height: 150vh;
}


@keyframes zoom-proj {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 120%;
        
    }
    75% {
        background-size: 140%;
    }
    100% {
        background-size: 150%;
        z-index: 0;
        animation-delay: 1s;
        opacity: 0;
    }
}