body {
    background: linear-gradient(-45deg, #2e0000, #460000, #160000, #530202, #160000, #420505, #1b0000, #ff7777);
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
}

#navdiv {
    background-color: #460000e8;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.699);
}
#navblock {
    width: 70%;
}
.navbar-brand {
    width: fit-content;
}
#a-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 233, 255);
    margin-left: 1vh;
}
.navbar-text {
    width: fit-content;
    flex-direction: row-reverse;
}
#nav-itens {
    font-family: 'Gabarito', sans-serif;
}
#nav-itens a:hover {
    transform: scale(1.06);
    transition: 0.5s ease;
}
.navbar-text a {
    color: rgb(255, 228, 228) !important;
}
#nav-btn {
    border-color: rgb(255, 226, 226);
    color: #ffe2e2;
    width: max-content;

    font-family: 'Gabarito', sans-serif;

    box-shadow: -1px -1px 5px 1px #ff6f0b,
                1px 1px 5px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;

    text-shadow: 0px 0px 5px #ff6f0b,
                0px 0px 5px #ff3b9d;
}
#nav-btn:hover {
    color: rgb(189, 0, 0);
    background-color: rgb(255, 232, 232);
    font-weight: 600;

    font-family: 'Gabarito', sans-serif;
    font-weight: 600;

    box-shadow: -1px -1px 15px 1px #ff6f0b,
                1px 1px 15px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}
#nav-btn:active {
    background-color: rgba(90, 0, 0, 0.185);;
    color: rgb(107, 0, 0);
}

.brand-title{
    max-width: 20%;
    text-align: left;
    margin: 0 auto;
    font-size: x-large;   
    font-family:'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .2rem;
    color: #fff;
}
.brand-title:after{
 content: '|';
 margin-left: 0.6%;
 opacity: 1;
 animation: typecursor .7s infinite;
}

#home {
    padding-bottom: 10vh;
}
#home-page {
    margin-top: 10%;
    margin-bottom: 1.5%;
    text-align: center;
}
#page-intro {
    width: fit-content;
    display: inline-block;
    align-content: center;
}
#intro-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8vh;
    font-weight: 700;
    color: #ffffff;
    margin-top: 9%;

    text-shadow: 0px 0px 50px rgb(255, 199, 199);
}
#intro-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 5%;
    
    text-shadow: 0px 0px 3px white;
}
#div-intro-desc {
    width: 100%;
    display: inline-block;
}
#intro-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
    color: #ffeeee;
    margin-top: 2%;
    padding: 0.2vh;
    text-shadow: 1px 1px 1px #3b0000;
}
#intro-desc::after {
    content: " create practical solutions to problems you didn't know you had. And I love it";
}
#div-desc {
    background-color: #ffbab228 !important;
    width: fit-content;
    height: fit-content;
}

#intro-avatar {
    margin-top: 10%;
    width: 100%;
    margin-bottom: 7%;
}
#light-bar {
    width: 0.9vh;
    height: 30vh;
    background-color: rgb(252, 217, 217);
    margin-left: 15%;
    margin-top: 4vh;

    display: inline-block;
    position: relative;

    border-radius: 15px;

    outline-color: rgba(255, 0, 0, 0.479);
    outline-width: 0.3vh;
    outline-style: solid;

    -webkit-box-shadow: 0 0 50px red;
    -moz-box-shadow: 0 0 50px red;
    box-shadow: 0px 0px 10px 6px rgb(255, 0, 0),
                0px 0px 60px 7px red,
                0px 0px 300px 40px rgb(255, 1, 1);
}
#avatar-box {
    width: fit-content;
    height: 35vh;
    vertical-align: top;
    margin-left: 0;
    align-content: end;

    float: right;
    margin-right: 18%;
    position: relative;

}

#photo-intro {
    opacity: 65%;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    padding: 0;

    
    border-width: 0.25vh;
    border-color: rgba(153, 9, 9, 0.87);
    border-style: solid;
    
    outline-color: rgba(153, 9, 9, 0.479);
    outline-width: 0.2vh;
    outline-style: solid;

    box-shadow: 1px 1px 10px 1px #8b0505,
                -1px -1px 10px 1px #8b0505,
                -1px -1px 50px 0.5px #6d0101,
                1px 1px 50px 0.5px #6d0101,
                -1px -1px 100px 1px #6b0101,
                1px 1px 100px 1px #6e0202;
}

#avatar-desc {
    display: inline-block;
    position: relative;
    width: 35%;
    margin-top: 5vh;

    vertical-align: top;
    margin-left: 8vh;
}
#avatar-text {
    text-align: left;
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 6.5vh !important;
    color: white;
}
#avatar-subtext {
    text-align: left;
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 3vh !important;
}
#avatar-bio {
    font-size: 2vh;
    text-align: left;
    font-family: 'Gabarito', sans-serif;
    font-weight: 300;
}
#intro-paragraph-title {
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    color: #b61e10;
    text-shadow: 1.3px 1.3px 1px #410000;
}
#intro-paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6d1a1a;
    font-size: large;
}

.subtitle-box {
    width: 20vh;
    height: 6vh;
    background: linear-gradient(to right bottom, #ff3b9d, #ff6f0b);
    border-radius: 5px;

    line-height: 6vh;
    text-align: center;

    box-shadow: -1px -1px 10px 1px #ff3b9d,
                1px 1px 10px 1px #ff6f0b,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}

.subtitle-text {
    font-family: 'Gabarito', sans-serif;
    font-size: 2.7vh;
    font-weight: 600;

    display: inline-block;
    vertical-align: middle;
}
#skill-subtitle-text {
    color: #ffffff;
}

#skills {
    padding-top: 8vh;
    padding-bottom: 13vh;
    margin-top: 2%;
}

#skill-box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.skill-column {
    width: 22%;
    height: 70vh;
    margin-right: 2rem;
    margin-left: 2rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 3.2vh;
    transition: transform .2s;

    background: linear-gradient(to bottom right, #ff9aa0, #fe2e3b, #a3060a, #8f030c, #a4000e, #970009);
    border-color: rgb(231, 39, 39);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}
.skill-column:hover {
    transform: scale(1.05);

    border-color: rgb(255, 214, 214);
    border-width: 2px;
    box-shadow: -1px -1px 20px 1px #ff6f0b,
                1px 1px 20px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}
.skill-column-icon {
    display: inline-flexbox;
    margin: 0 auto;
    text-align: center;
    
    padding-top: 3.5vh;
    margin-bottom: 10%;
    margin-top: 8%;
    
    border-radius: 90px;

    background-color: #360101;

    width: 14vh;
    height: 14vh;
}
#skill-column-backend {
    background-image: url("../img/icons/backend1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    resize: both;
}
#skill-column-frontend {
    background-image: url("../img/icons/frontend1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
#skill-column-data {
    background-image: url("../img/icons/dataanalysis1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.skill-second-line {
    text-align: left;
}
.skills-group {
    max-width: 100%;
}
.skill-scroll-bar {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.btnSkill {
    height: 3vh;
    width: 3vh;
    line-height: 1vh;
    text-align: center;
    padding-left: 0.85vh;
    margin-bottom: 1.1vh;
}
.skill-title {
    text-align: center;
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    color: #fff0f0;
}

.skill-description {
    text-align: center;
    height: 20%;
    font-family: 'Gabarito', sans-serif;
    color: white;
    font-weight: 400;
}
.skill-tiny {
    font-family: 'Josefin Sans', sans-serif;
}
.skill-composition,h4{
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    color: #fff2f2;
    min-height: 20%;
}
.skill-composition,ul{
    color: white;
    font-weight: 400;
}
.skill-tools,ul{
    font-family: 'Gabarito', sans-serif;
    color: white;
    font-weight: 400;
    padding-bottom: 2%;
}

#project-subtitle-text {
    color: #ffffff;
}
#projects {
    padding-top: 8vh;
    padding-bottom: 17vh;
    margin-top: 2%;
}
#project-container {
    display: block;
    margin: 0 auto;
    height: 65vh;
    width: 75%;
    text-align: center;
    position: relative;
    z-index: 0;
}
.project-line {
    width: 100%;
    height: 45%;
    margin-top: 1vh;
    position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: middle;
}
.project-box {
    width: 30%;
    height: 90%;
    border-color: rgb(61, 34, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

#logo-1 {
    background-image: url("../img/logo/projects/Google Ads/logo.png");
}
#logo-2 {
    background-image: url("../img/logo/projects/Episode Counter/logo.png");
}
#logo-3 {
    background-image: url("../img/logo/projects/Rede Sucata/logo.png");
}
#logo-4 {
    background-image: url("../img/logo/projects/PotterManiacos Games/logo.png");
}
#logo-5 {
    background-image: url("../img/logo/projects/Monsmalters/logo.png");
}
#logo-6 {
    background-image: url("../img/logo/projects/Kauan's Adventure/logo.png");
}
#btnProjectDiv{
    margin-top: 0;
    text-align: center;
}
#project-btn {
    border-color: rgb(255, 224, 224);
    border-style: solid;
    border-width: 2px;
    color: rgb(252, 233, 233);
    font-family: 'Gabarito', sans-serif;
    text-align: left;
    font-weight: 400;
    text-align: right;
    height: 5vh;
    width: 20vh;
    text-align: center;
    font-size: 1.8vh;
}
#project-btn:hover {
    color: rgb(29, 1, 1);
    background-color: rgb(255, 230, 230);
}
#project-btn:active {
    background-color: rgba(36, 1, 1, 0.185);;
    color: rgba(201, 144, 144, 0.562);
    border-color: rgba(201, 144, 144, 0.548);
}
.project-box {
    margin-right: 1vh;
    margin-left: 1vh;
}
.project-image {
    width: 100%;
    height: 100%;
    top: -100%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 2;
    opacity: 2;
}
.project-image:hover {
    animation-name: zoom-proj;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 3s ease-out;
}
.project-details {
    padding: 2.5vh;
    font-family: 'Gabarito', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 1;
    background-color: #2c0000;

    border-color: rgb(255, 162, 162);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;

    box-shadow: inset -1px -1px 3px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;
}
.project-details:hover {
    z-index: 3;
}
.project-title{
    font-weight: 600;
    color: #c93222;
    height: 10%;
    font-size: 2vh;
}
.project-info {
    margin-top: 4%;
    font-weight: 300;
    line-height: 110%;
    height: 62%;
    font-family: 'Josefin Sans', sans-serif;;
}
.project-details-btn {
    background-color: rgb(255, 196, 196);
    color: rgb(187, 0, 0);
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    height: 25%;
}
.project-details-btn:hover {
    color: rgb(252, 209, 209);
    background-color: rgb(146, 0, 0);
}
.project-details-btn:active {
    background-color: rgb(97, 54, 54);;
    color: rgb(107, 0, 0);
}

#courses-subtitle-text {
    color: #ffffff;
}
#courses {
    padding-bottom: 17vh;
    padding-top: 1vh;
    margin-top: 2%;
    text-align: center;
    height: fit-content;
}
.content-courses {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-container {
    height: 300px;
    width: 70%;
    position: relative;

    border-radius: 20px;
    background-color: #b1141469;
    box-shadow: 0px 0px 5px 1px #270000;
}
.carousel-box {
    height: 300px;
    width: auto;

    overflow-y: hidden;
    overflow-x: scroll;

    white-space: nowrap;
    display: inline-block;
    text-emphasis: none;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}
::-webkit-scrollbar {

    height: 1vh;
    background-color: #4d010163;
    border-radius: 0px 0px 20px 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffb0b0a4;
    border-radius: 15px;
}
.carousel-box img {
    height: 250px;
    background-size: cover;
    background-color: rgb(255, 200, 200);
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1;

    border-radius: 15px;
    box-shadow: 5px 8px 10px 1px #1a0000ab;
}
.carousel-box img:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 15px 2px rgb(255, 90, 90);
    position: relative;
    z-index: 2;
}

.arrow-c {
    color: rgb(255, 115, 115);
    height: 100%;
    width: 45px;
    line-height: 270px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    top: 0;
    z-index: 1;
    text-decoration: none;
    background-color: transparent;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 105, 105);
    box-shadow: -1px -1px 5px 1px #ff710b7a,
                1px 1px 5px 1px #ff3b9d79,
                inset -1px -1px 5px 1px #ff710b83,
                inset 1px 1px 5px 1px #ff3b9d83;

    text-shadow: 0px 0px 5px #ff6f0b,
                0px 0px 5px #ff3b9d;

}
.arrow-c:hover {
    animation: zoom-arrow;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 500ms ease-out;

    cursor: pointer;

    border-color: rgb(255, 159, 159);
    box-shadow: -1px -1px 10px 1px #ff6f0b,
                1px 1px 10px 1px #ff3b9d,
                inset -1px -1px 5px 1px #ff6f0b,
                inset 1px 1px 5px 1px #ff3b9d;  
}

#arrow-l {
    position: absolute;
    left: -50px;
    box-shadow: 10px 1px 50px 1px #680000;
}
#arrow-l:hover {
    box-shadow: 25px 1px 50px 1px #680000;
}
#arrow-r {
    position: absolute;
    right: -50px;
    box-shadow: -10px 1px 50px 1px #680000;
}
#arrow-r:hover {
    box-shadow: -25px 1px 50px 1px #680000;
}

.img-slide {
    height: 270px;
    width: auto;
}

#btnCoursesDiv{
    margin-top: 4%;
}
#courses-btn {
    border-color: rgb(255, 224, 224);
    border-style: solid;
    border-width: 2px;
    color: rgb(252, 233, 233);
    font-family: 'Gabarito', sans-serif;
    text-align: left;
    font-weight: 400;
    text-align: right;
    height: 5vh;
    width: 20vh;
    text-align: center;
    font-size: 1.8vh;
}
#courses-btn:hover {
    color: rgb(29, 1, 1);
    background-color: rgb(255, 230, 230);
}
#courses-btn:active {
    background-color: rgba(36, 1, 1, 0.185);;
    color: rgba(201, 144, 144, 0.562);
    border-color: rgba(201, 144, 144, 0.548);
}

#contact {
    width: 100%;
    background-color: #3b0000;

    border-top: 2px solid rgb(75, 1, 1);

}
.contact-box {
    height: fit-content;
    text-align: center;
}
.mailBox {
    margin-top: 4%;
    width: 55%;
    padding-left: 8%;
    display: inline-block;
}
.emailInfoBox {
    margin-bottom: 3%;
    width: 100%;
    display: inline-block;
}
.messageInfoBox {
    margin-bottom: 3%;
    width: 100%;
    display: inline-block;
}
.emailInfo {
    height: 5vh;
    width: 99%;
    background-color: white;
    color: black;
    padding-left: 3vh;
    font-family: 'Gabarito', sans-serif;
    font-size: 2vh;

    border-color: #ff9191;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
}
.emailInfoLeft {
    width: 49%;
    text-align: left;
    display: inline-block;
}
.emailInfoRight {
    width: 50%;
    text-align: right;
    display: inline-block;
}
#senderMessage {
    width: 100%;
    height: 30vh;
    background-color: white;
    color: black;
    padding-top: 2vh;
    padding-left: 3vh;
    font-family: 'Gabarito', sans-serif;
    font-size: 2vh;
    resize: none;

    border-color: #ff9191;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}
.sendMailBox {
    width: 100%;
    margin: auto;
    text-align: center;
}
#sendMailBtn {
    border-color: #ffc9c9;
    border-style: solid;
    border-width: 2px;
    background-color: #660606;
    color: #ffd4d4;
    font-family: 'Gabarito', sans-serif;
    text-align: left;
    line-height: 2vh;
    font-weight: 400;
    text-align: right;
    height: 4vh;
    width: 12vh;
    text-align: center;
    font-size: 1.8vh;
}
#sendMailBtn:hover {
    color: #3b0000;
    background-color: #ffc9c9;
}
#sendMailBtn:active {
    background-color: rgba(36, 1, 1, 0.185);;
    color: rgba(201, 144, 144, 0.562);
    border-color: rgba(201, 144, 144, 0.548);
}

.subtitle-container {
    width: 21vh;
    height: 6vh;
    margin-left: 15%;

    display: block;
    float: left;

}
.social-links {
    width: 7vh;
    display: inline-block;
    margin-left: 1%;
    vertical-align: top;
    margin-top: 16%;
}
.contact-line {
    height: 6vh;
    width: 100%;
    display: inline-block;
    margin-bottom: 35%;
}
.network-logo {
    display: inline-block;
}
.contact-logo {
    height: 6vh;
}

footer {
    padding-top: 2%;
    padding-bottom: 4%;
}
.section-title {
    text-align: center;
}
#contact-title {
    font-family: 'Gabarito', sans-serif;
    font-size: 5vh;
    font-weight: 400;
    color: #ffffff;
}

@keyframes zoom-proj {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 140%;
        
    }
    75% {
        background-size: 150%;
    }
    100% {
        background-size: 160%;
        z-index: 0;
        animation-delay: 1s;
        opacity: 0;
    }
}
@keyframes background-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes zoom-arrow {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.07;
        color: rgb(255, 221, 221);
        background-color: rgb(61, 0, 0);
    }
}
@keyframes typecursor{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@media (max-width: 1600px) {
    #avatar-box {
        margin-right: 13%;
    }
    .subtitle-container {
        margin-left: 7%;
    }
    .skills-group {
        max-width: 100%;
        background-color: #8a0d0d69;
        box-shadow: 0px 0px 5px 1px #270000;
    }
    .skill-tools,ul{
        font-weight: 400;
        padding-bottom: 0.2%;
    }
    .skill-column {
        width: 28%;
        height: 78vh;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-left: 3vh;
        padding-right: 3vh;
        padding-bottom: 3.2vh;
    }
    #skills {
        padding-top: 10vh;
    }
    #project-container {
        width: 85%;
    }
    .carousel-container {
        width: 80%;
    }
    .mailBox {
        width: 65%;
    }
}
@media (max-width: 1600px) and (max-height: 900px) {
    .skill-column {
        width: 23%;
        height: 69vh;
    }
    .subtitle-container {
        margin-left: 12%;
    }
}

@media (max-width: 1400px) {
    .skill-column {
        height: 70vh;
    }
    .project-box {
        width: 30%;
        height: 88%;
    }
    #project-container {
        width: 100%;
    }
    .skill-scroll-bar {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    .carousel-container {
        width: 85%;
    }
    
    .project-info-p {
        line-height: 2vh;
        font-size: 2vh;
    }
    .social-links {
        margin-top: 19%;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: none;
    }
    #light-bar {
        margin-left: 8%;
    }
    #avatar-box {
        margin-right: 8%;
    }
    #avatar-desc {
        margin-top: 3vh;
    }
}
@media (max-width: 1400px) and (min-height: 1000px){
    .skill-column {
        height: 65vh;
    }
    .social-links {
        margin-top: 22%;
    }
    .mailBox {
        width: 75%;
    }
}
@media (max-width: 1400px) and (min-height: 900px) {
    .project-box {
        width: 27%;
        height: 90%;
    }
    #avatar-box {
        margin-right: 10%;
    }
    #light-bar {
        margin-left: 10%;
    }
    .skill-column {
        width: 26%;
    }
    .subtitle-container {
        margin-left: 7%;
    }
    
}
@media (max-width: 1400px) and (max-height: 1100px){
    .project-box {
        width: 30%;
        height: 89%;
    }
}

@media (max-width: 1300px) {
    .skill-column {
        height: 80vh;
    }
}
@media (max-width: 1300px) and (min-height: 800px) {
    .skill-column {
        width: 28%;
        height: 78vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .skill-scroll-bar {
        width: 120%;
    }
    .skill-description {
        height: 23%;
    }
    .project-box {
        width: 28%;
        height: 94%;
    }
    .social-links {
        margin-top: 19%;
    }
    .mailBox {
        width: 70%;
    }
    .subtitle-container {
        margin-left: 7%;
    }
    
    h3 {
        font-size: 3.2vh;
    }
    h4 {
        font-size: 2.8vh;
    }
    p {
        font-size: 2vh;
    }
    li {
        font-size: 2vh;
    }
}

@media (max-width: 1100px) {
    #navblock {
        width: 90%;
    }
    #light-bar {
        margin-left: 9%;
    }
    #avatar-box {
        margin-right: 7%;
    }
    #avatar-desc {
        width: 42%;
    }
    #skill-box {
        display: block;
    }
    .skills-group {
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .skill-scroll-bar {
        width: 120%;
        height: inherit;
        text-align: center;
    }
    .skill-column {
        width: 28%;
        height: 84vh;
        display: inline-block;
        margin-right: -2vh;
    }
    .skill-description {
        height: 22%;
    }
    .project-box {
        width: 26%;
        border-radius: 20px;
    }
    .project-image {
        border-radius: 20px;
    }
    .project-details {
        border-radius: 20px;
    }
    .project-info-p {
        line-height: 2.5vh;
    }
}
@media (max-width: 1100px) and (max-height: 610px) {
    #avatar-box {
        margin-right: 10%;
    }
    #light-bar {
        margin-left: 10%;
    }
}

@media (max-width: 1050px) {
    .skill-column {
        height: 98vh;
    }
    .skill-scroll-bar {
        width: 100%;
        height: inherit;
        text-align: center;
    }
    .emailInfoLeft {
        width: 48%;
    }
    .project-details-btn {
        height: 4.8vh;
        line-height: 1;
        font-size: smaller;
    }
    #sendMailBtn {
        height: 5vh;
        width: 12vh;
        font-size: 2.2vh;
    }
    #project-btn {
        width: 22vh;
    }
    #nav-btn {
        font-size: 2.2vh;
    }
    .skill-column {
        width: 28%;
        height: 85vh;
    }
    .carousel-container {
        height: 40vh;
    }
    .carousel-box {
        height: 40vh;
    }
    .arrow-c {
        line-height: 1;
    }
    .carousel-box img {
        height: 34vh;
    }
    .skill-tiny {
        font-size: 2.2vh;
    }
    .skill-title {
        font-size: small;
    }
    h3 {
        font-size: 3.4vh;
    }
    h4 {
        font-size: 3vh;
    }
    p {
        font-size: 2.4vh;
    }
    .btnSkill {
        font-size: 2.4vh;
        height: 3.2vh;
        width: 3.2vh;
        line-height: 1.18vh;
        padding-left: 0.81vh;
        margin-bottom: 1.1vh;
    }
    li {
        font-size: 2.4vh;
    }
}
@media (max-width: 1050px) and (min-height: 750px) {
    .skill-column {
        width: 29%;
        height: 78vh;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .skill-scroll-bar {
        width: 122%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    .skill-description {
        height: 20%;
    }
    .mailBox {
        width: 75%;
    }
    .project-box {
        width: 30%;
    }
    .social-links {
        margin-top: 22%;
    }
    h3 {
        font-size: 3.2vh;
    }
    h4 {
        font-size: 2.8vh;
    }
    p {
        font-size: 2vh;
    }
    li {
        font-size: 2.2vh;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .brand-title {
        font-size: medium;
    }
    .navbar-brand {
        position: relative;
    }
    #a-brand > img {
        width: 35px;
        height: 35px;
    }
    #nav-itens {
        line-height: 0.6;
    }
    #btnProjectDiv {
        margin-top: -5%;
    }
    #navblock > div.navbar-text.ms-5.float-end.fw-medium {
        vertical-align: middle;
    }
    #nav-btn {
        position: relative;
    }
    #intro-desc {
        font-size: small;
    }
    .subtitle-text {
        line-height: 1;
    }
    .project-info-p {
        line-height: 1.9vh;
    }
    .skill-scroll-bar {
        width: 120%;
        height: inherit;
        text-align: left;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    .skill-description {
        height: 19%;
    }
    .skill-column {
        width: 30%;
        height: 79vh;
        display: inline-block;
        margin-right: -3vh;
    }
    .skill-column-icon {
        margin-bottom: 7%;
    }
    .skill-tiny {
        font-size: 2vh;
    }
    .skill-title {
        font-size: small;
    }
    .project-details-btn {
        height: 4.5vh;
        line-height: 1;
        font-size: x-small;
        margin-bottom: 1.5vh;
    }
    .btn {
        line-height: 1.2;
    }
    .mailBox {
        width: 75%;
    }
    .social-links {
        margin-top: 22%;
    }
    h3 {
        font-size: 3.4vh;
    }
    h4 {
        font-size: 2.8vh;
    }
    p {
        font-size: 2.1vh;
    }
    .btnSkill {
        font-size: 2.4vh;
        height: 3.3vh;
        width: 3.3vh;
        line-height: 1vh;
        padding-left: 0.82vh;
        margin-bottom: 0.5vh;
    }
    li {
        font-size: 2.2vh;
    }
    .project-line {
        height: 40%;
    }
    .arrow-c {
        width: 32px;
        font-size: 20px;
        border-radius: 10px;
        border-width: 1px;
    }
    .carousel-container {
        width: 89%;
    }
    #arrow-l {
        left: -35px;
    }
    #arrow-r {
        right: -35px;
    }
    .project-image {
        border-radius: 15px;
    }
    .project-details {
        border-radius: 15px;
    }
    .project-box {
        border-radius: 15px;
        width: 29%;
    }
}
@media (max-width: 800px) and (max-height: 600px) {
    .project-box {
        height: 88%;
    }
}

@media (orientation: portrait) {
    #avatar-desc {
        width: 75%;
        margin-top: 4vh;
        margin-left: 6vh;
    }
    #avatar-box {
        width: 100%;
        text-align: center;
        float: none;
        display: none;
    }
    #photo-intro {
        max-width: 30vh;
        max-height: 30vh;
    }
    #intro-title {
        margin-top: 17%;
    }

    h3 {
        font-size: 3.2vh;
    }
    h4 {
        font-size: 2.6vh;
    }
    p {
        font-size: 1.9vh;
    }
    .btnSkill {
        font-size: 2.2vh;
        height: 3.3vh;
        width: 3.3vh;
        line-height: 1vh;
        padding-left: 0.62vh;
        margin-bottom: 1.8vh;
    }
    li {
        font-size: 2vh;
    }
    .skill-scroll-bar {
        width: 195%;
        padding-top: 4.5%;
        padding-bottom: 4.5%;
    }
    .skill-column {
        width: 30%;
        height: 75vh;
    }
    .skill-description {
        height: 24%;
    }
    #nav-btn {
        font-size: 1.9vh;
    }
    #line-l {
        float: left;
        width: 48%;
        margin-left: 1%;
    }
    #line-r {
        float: right;
        width: 48%;
        margin-right: 1%;
    }
    .project-title {
        font-size: 1.7vh;
    }
    .project-details-btn {
        height: 3vh;
        margin-top: 4%;
        font-size: larger;
    }
    .project-box {
        width: 100%;
        height: 73%;
        margin-bottom: 2vh;
    }
    .project-info-p {
        line-height: 2vh;
        font-size: 1.8vh;
        padding-top: 2%;
    }
    #btnProjectDiv {
        margin-top: 13%;
    }
    .mailBox {
        width: 100%;
        padding-left: 0%;
    }
    .social-links {
        margin-top: 13%;
        width: 100%;
    }
    .contact-line {
        width: 11%;
        margin-left: 1vh;
        margin-right: 1vh;
        margin-bottom: 2%;
    }
    footer {
        padding-top: 4%;
    }
}

@media (orientation: portrait) and (max-width: 1100px) {
    #line-l {
        width: 49%;
        margin-left: 0%;
    }
    #line-r {
        width: 49%;
        margin-right: 2%;
    }
}

@media (max-width: 1000px) and (max-height: 1400px) and (orientation: portrait) {
    .project-box {
        height: 63%;
    }
    .project-info-p {
        line-height: 1.8vh;
        font-size: 1.6vh;
        padding-top: 2%;
    }
    #btnProjectDiv {
        margin-top: 4%;
    }
}

@media (orientation: portrait) and (max-width: 900px) {
    #line-l {
        width: 49%;
        margin-left: 0%;
    }
    #line-r {
        width: 49%;
        margin-right: 2%;
    }
    .project-info-p {
        font-size: 1.7vh;
    }
    .project-title {
        font-size: 1.7vh;
    }
}
@media (max-width: 900px) and (max-height: 1300px) and (orientation: portrait) {
    .project-title {
        font-size: 1.6vh;
    }
    .project-box {
        height: 64%;
    }
    #btnProjectDiv {
        margin-top: 4%;
    }
    .project-info-p {
        line-height: 1.7vh;
    }
}

@media (orientation: portrait) and (max-width: 800px) {
    .project-details-btn {
        font-size: medium;
    }
}

@media (max-width: 600px) and (max-width: 800px) and (orientation: portrait) {
    #intro-desc {
        font-size: 2.2vh;
        padding: 1vh;
    }
    #intro-desc::after {
        content: " create practical solutions to problems\Ayou didn't know you had. And I love it";
        white-space: pre-line;
    }
    .skill-column {
        height: 78vh;
    }
    .project-details-btn {
        font-size: x-small;
    }
    .carousel-box {
        height: 35vh;
    }
    .carousel-container {
        height: 35vh;
    }
    .carousel-box img {
        height: 29vh;
    }
    #arrow-r {
        right: -37px;
    }
    #arrow-l {
        left: -37px;
    }
    .arrow-c {
        width: 35px;
        border-radius: 10px;
    }
    .btnSkill {
        padding-left: 0.90vh;
        margin-bottom: 1.1vh;
    }
    .project-details-btn {
        line-height: 0vh;
    }
}

@media (max-width: 450px) {
    #navblock {
        width: 70%;
    }
}
